body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

main,
.sidebar {
  transition-duration: 500ms;
}

.container {
  max-width: 38rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
