.pagination-nav {
  display: flex;
  justify-content: center;
}
.pagination-nav .option {
  display: grid;
  place-items: center;
}
.pagination-nav .option.active span {
  color: var(--text-light);
}

.pagination-nav .option:not(.active) span {
  cursor: pointer;
  color: var(--brand-color);
}
.pagination-nav .option svg {
  padding: 0.5rem 0.5rem;
  border: 1px solid #ddd;
  cursor: pointer;
}
.pagination-nav .option svg path {
  fill: var(--brand-color);
}

.pagination-nav .option span {
  font-family: "Courier New", Courier, monospace;
  padding: 0.25rem 1rem;
  border: 1px solid #ddd;
}

.pagination-nav .option svg:hover,
.pagination-nav .option:not(.active) span:hover {
  background-color: var(--text-light);
}

.pagination-nav .option.disabled {
  display: none;
}
